
<header class="header" >
  <div class="header__wrapper">
    <div class="header__logo">
      <a routerLink="/games" class="logo">PF</a>
    </div>
    <nav class="nav header__nav">
      <ul class="nav__list">
        <li class="nav__item" >
          <a routerLink="games" class="nav__link" routerLinkActive="active">Games</a>
        </li>
        <li class="nav__item">
          <a routerLink="library" class="nav__link" routerLinkActive="active">Library</a>
        </li>
        <li class="nav__item">
          <a routerLink="friends" class="nav__link" routerLinkActive="active">Friends</a>
        </li>
        <li class="nav__item">
          <a routerLink="friends-search" class="nav__link" routerLinkActive="active">Search</a>
        </li>
        <li class="nav__item">
          <a routerLink="profile" class="nav__link" routerLinkActive="active">Profile</a>
        </li>

      </ul>
    </nav>
  </div>

</header>
