<div class="library-card">
<header class="library-card__hreader">
  <h2 class="library-card__title">Game name</h2>
</header>
<div class="library-card__inner">
  <div class="library-card__desctiption">description descr description description description description description description description description description</div>
  <hr>
  <div class="library-card__button-group">
    <button class="library-card__button download-btn" type="button">Download</button>
    <button class="library-card__button share-btn" type="button">Share</button>
  </div>

</div>
</div>
