<section class="friends">
  <h1>Friends</h1>
  <hr>
  <div id='search-box' class="search-box">
    <form action='' class='search-form' method='get' target='_top'>
      <input class='search-text' name='q' placeholder='Search' type='text'
                   [(ngModel)]="searchedFriendName"
                   (keyup)="searchFriendByName()"/>
      <button class='search-button' type='button'>
        <span>Search</span>
      </button>
    </form>
  </div>
  <h2>My Friends:</h2>
  <div class="friend-cards-conteiner">
    <app-friend-card
      [friend]="friend"
      [name]="friend.nickName"
      *ngFor="let friend of friends, index as i"
      (getFriendId)="catchClickOnCard($event)"
      (click)="removeUserFromFriends()">
      <button class="friend-card__btn remove-friend-btn">
        Remove Friend
      </button>
    </app-friend-card>
  </div>
</section>
